<div id="fh5co-testimonials" data-section="testimonials">		
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h1 class="fadeInUp animated">Pizzas Louis</h1>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext fadeInUp animated">
							<h2>La passion de la véritable pizza artisanale.</h2>
						</div>
					</div>
				<div class="row">
					<form class="fadeInUp animated" #login="ngForm" (ngSubmit)="processAuth()">
						<div class="form-group">
							<input class="form-control" type="text" name="name" [(ngModel)]="name" placeholder="Entrez votre login" required>
						</div>
                        			<div>
							<input class="form-control" type="text" name="passwrd" [(ngModel)]="password" placeholder="Entrez votre mot de passe" required>
						</div>
						<p *ngIf="error" class="alert alert-danger">{{error}}</p>
						<div *ngIf="!is_processing">
								<input [disabled]="!login.form.valid" class="btn btn-primary btn-lg" type="submit" value="Connectez vous">
						</div>
						<div *ngIf="is_processing">
							<p>Authentification en cours, merci de patienter....
						</div>
					</form>
				</div>
				<div class="row">
                    
					<p class="fadeInUp animated">ou <a routerLink="/register" class="btn btn-primary">Créez votre compte gratuitement!</a></p>
				</div>
				
			</div>
			
		</div>
	</div>