<div id="fh5co-testimonials" data-section="testimonials">		
		<div *ngIf="news" class="container">
			<div class="row">
				<div class="news-img" [style]="news.picture | safeCSS "></div>
			</div>
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="fadeInUp animated">{{news.title}}</h2>
					<h3 class="fadeInUp animated">{{news.date_pub | readableDate}}</h3>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext fadeInUp animated">
							<h3>{{news.texte}}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row" *ngFor="let comment of news.comments">
				<div class="col-md-4">
					<div class="box-testimony fadeInUp animated">
						<blockquote>
							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
							<p>&ldquo;{{comment.texte}}&rdquo;</p>
						</blockquote>
						<p class="author">{{comment.user.prenom}} {{comment.user.nom}} <span class="subtext">le {{comment.date | readableDate}}</span></p>
					</div>
					
				</div>
				
			</div>



			<div class="row">
				<div class="col-md-12">
					<div class="box-testimony fadeInUp animated full-size">

						<blockquote>
							<form #msg="ngForm" (ngSubmit)='processForm()'>

								<div class="form-group">
									<label>Ajouter un message</label>
									<textarea (change)="msg_text=$event.target.value" rows="5" class="form-control">{{msg_text}}</textarea>
								</div>
								<p *ngIf="error" class="alert alert-danger">{{error}}</p>
								<p *ngIf="success" class="alert alert-success">Nous vous remercions pour votre message</p>
								<div *ngIf="!is_processing">
										<input [disabled]="!msg.form.valid" class="btn btn-primary  full-size" type="submit" value="Postez votre message">
								</div>
								<div *ngIf="is_processing">
									<p>Envoie du message....
								</div> 
							</form>
						</blockquote>
						
					</div>
					
				</div>
			</div>
		</div>
		<div *ngIf="!news">
			<p>Chargement des données, merci de patienter....</p>
		</div>
	</div>
