input{
		    width: 80%!important;
            margin: 10px auto;
	}
.form-group{
    padding: 5px;
}
.form-control:focus {
    border-color: #393e46!important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(57,62,70, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(57,62,70, 0.6);
}
h3  {
    color: white!important;
    
}
#fh5co-testimonials h1{
        font-size: 45px;
        line-height: 1.8em;
        font-weight: 300;
    }

.news-img{
	width:100%;
	height: 300px;
	background-image:url('../../assets/images/slide_5.jpg');
	background-size: cover;
}
#fh5co-testimonials{
        padding: 0!important;
    }
.full-size{
	width: 100%!important;
}

@media screen and (orientation:landscape){
    #fh5co-testimonials{
        padding: 0!important;
    }
    .section-heading h1, .section-heading h3{
	line-height: 1em!important;
    }
    .form-group{
	margin: 0 auto;
    }
}
