	input{
		    width: 80%!important;
            margin: 10px auto;
	}
.form-group{
    padding: 5px;
}
.form-control:focus {
    border-color: #393e46!important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(57,62,70, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(57,62,70, 0.6);
}
.author, .subtext{
	color: #7f7f7f!important;
}
#fh5co-testimonials h1{
        font-size: 45px;
        line-height: 1.8em;
        font-weight: 300;
    }

.news-img{
	width:100%;
	height: auto;
	
}
#fh5co-testimonials{
        padding: 0!important;
	background: white;
	color: #7f7f7f!important;
    }
.full-size{
	width: 100%;
}
.section-heading{
	margin-bottom: 0;
}
.section-heading h1,.section-heading h2, .section-heading h3{
	color: #7f7f7f!important;
    }
.section-heading h1:after,.section-heading h2:after{
	background: #65d269!important;
    }
#fh5co-testimonials .box-testimony blockquote .quote{
	color: #65d269!important;
	background-color: white;
}

#fh5co-testimonials .box-testimony blockquote{
	background: #65d269!important;
	color: white!important;
	
}
#fh5co-testimonials .box-testimony blockquote p{
	margin-bottom: 0;
}
#fh5co-testimonials .box-testimony blockquote:after {
	border-top-color: #65d269!important;
}
.note{
	text-align: right;
}
.note i{
	margin-right: 5px;
}
@media screen and (orientation:landscape){
    #fh5co-testimonials{
        padding: 0!important;
    }
    .section-heading h1, .section-heading h3{
	line-height: 1em!important;
    }
    .form-group{
	margin: 0 auto;
    }
}
.tarif{
margin:10px;
}
.tarif, .tarif div div{
	display: flex;
	    flex-direction: row;
	    align-items: baseline;
	    justify-content: space-around;
	margin:0 12px;
}
.tarif>div:first-child{
	border-right: 1px dashed green;
}
.tarif div{
	flex-grow: 1;
}
.tarif h1{
	text-align: center;
	    margin: 0;
	line-height:1em;
}
.btn-floating {
   display: inline-block;
    color: #fff;
    position: fixed;
    top: 88%;
    left: 80%;
    overflow: hidden;
    z-index: 1;
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
    overflow:visible;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
   background-color: #F44336 !important;
}
.ing-list{
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
}
.ing-list li{
    margin-bottom: 10px;
}
.slogan{
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 1.2em!important;
    font-style: italic;
    letter-spacing: 1px;
}
.slogan::before{
    content:open-quote;
}
.slogan::after{
    content:close-quote;
}
.title{
    letter-spacing: 3px;
}



.tarif, .tarif div div{
	display: flex;
	    flex-direction: row;
	    align-items: baseline;
	    justify-content: space-between;
	margin:0 12px;
}
.tarif>div:first-child{
	border-right: 1px dashed green;
    padding-right: 12px;
}
.tarif div{
	flex-grow: 1;
}
.tarif h1{
	text-align: center;
	    margin: 0;
	line-height:1em;
}


$unchecked-star: '\2606';
$unchecked-color: white;
$checked-star: '\2605';
$checked-color: #e7f547;

.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  * {
    font-size: 3rem;
  }
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  & > input {
    display: none;
    & + label {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      white-space: nowrap;
      cursor: pointer;
      &:before {
        display: inline-block;
        text-indent: -9999px;
        content: $unchecked-star;
        color: $unchecked-color;
      }
    }
    &:checked ~ label:before,
      & + label:hover ~ label:before,
      & + label:hover:before {
      content: $checked-star;
      color: #e7f547;
      text-shadow: 0 0 1px white;
    }
  }
  
  /* the hidden clearer */
  & > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
  }
  & > .star-cb-clear + label:before {
    width: .5em;
  }

  &:hover > input + label:before {
    content: $unchecked-star;
    color: $unchecked-color;
    text-shadow: none;
  }
  &:hover > input + label:hover ~ label:before,
  &:hover > input + label:hover:before {
    content: $checked-star;
    color: $checked-color;
    text-shadow: 0 0 1px white;
  }
}

.note{
	font-size: 24px;
	text-align: center;
}
.note i{
	margin: 5px ;
}


.price-box {
  border: 2px solid #ECEEF0;
  text-align: center;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 40px;
  position: relative;
}
.price-box h2{margin-bottom: 5px;}
.price-box h2:after{bottom:-5px;}
.price-box.popular {
  border: 2px solid #6173f4;
}
.price-box .more{
        padding: 0;
    margin: 0;
    font-size: 0.7em;
    color: #969595;
    text-align: left;
}
.price-box.popular .popular-text {
  top: 0;
  left: 50%;
  margin-left: -54px;
  margin-top: -2em;
  position: absolute;
  padding: 4px 20px;
  background: #6173f4;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
 .price-box.popular .popular-text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid black;
  border-top-color: #6173f4;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.pricing-plan {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}
.price {
  font-size: 42px;
  color: #000;
}
.price .currency {
  font-size: 20px;
  top: -1.2em;
}
.price small {
  font-size: 16px;
}
.pricing-info {
  padding: 0;
  margin: 0 0 30px 0;
}
.pricing-info li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

#fh5co-our-services,
#fh5co-press {
  background: #f4f4f4;
}
