<div id="fh5co-press" data-section="press">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-press-1">Notre carte</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2">
							<h3>Toutes nos pizzas sont fabriquées sur place de façon artisanale.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row" *ngFor='let pizza of pizzas'>
			
				<div *ngIf="pizza" class="col-md-6 col-xs-12">
					<!-- Press Item -->
					<div class="fh5co-press-item to-animate full-size">
						<div class="fh5co-press-img" [style]="pizza.picture | safeCSS">
						</div>
						<div class="fh5co-press-text">
							<h1 class="fh5co-press-title title">{{pizza.nom}}<span class="fh5co-border"></span></h1>
							<p class="note">
								<i class="icon-star" aria-hidden="true" *ngIf='pizza.note>0'></i>
								<i class="icon-star" aria-hidden="true" *ngIf='pizza.note>1'></i>
								<i class="icon-star" aria-hidden="true" *ngIf='pizza.note>2'></i>
								<i class="icon-star" aria-hidden="true" *ngIf='pizza.note>3'></i>
								<i class="icon-star" aria-hidden="true" *ngIf='pizza.note>4'></i>
							</p>
							<p class="slogan">{{pizza.slogan}}</p>
							<p >Base: <strong>{{pizza.base.nom}}</strong></p>
							<p>Ingrédients: <strong>{{pizza.ingredients}}</strong></p>
							<p>
								<a [routerLink]="['/pizzas',pizza.id]" class="btn btn-secondary btn-sm action full-size">Plus de details</a>
							</p>
							<!--div class="tarif to-animate">
								<div>
									<div><span>24cm:</span><h2 style="display:inline-block">{{pizza.prix_small}}€</h2></div>
									<h1 class="number">0</h1>
								</div>
								<div>
									<div><span>33cm:</span><h2 style="display:inline">{{pizza.prix_big}}€</h2></div>
									<h1 class="number">0</h1>
								</div>
							</div-->
							<pizza-counter [pizzaid]="pizza.id" [prixsmall]="pizza.prix_small" [prixbig]="pizza.prix_big" ></pizza-counter>
							
							
						</div>
					</div>
					<!-- Press Item -->
				</div>

				

			</div>
		</div>
	</div>
	
	
          <a class="btn btn-floating btn-lg red" routerLink='/panier'>
            <i class="icon-wallet"></i>
          </a>
          