
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- qqs infos sur les données de l'application -->
            <div class="row">
                {{#each infos}}
                    {{> infos.block this}}
                {{/each}}
               
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-body">
                            
                            
                            <table width="100%" class="table table-striped table-bordered table-hover" id="products">
                                <!-- /.table-responsive -->
                            <div class="well">
                                <h3>Les commandes du jour</h3>
                                <p>La liste se met automatiquement a jour dès qu'une nouvelle commande arrive!
                            </div>
                                <thead>
                                     <thead>
                                        <tr>
                                            <th>Date commande</th>
                                            <th>Date Retrait</th>
                                            <th>Client</th>
                                            <th>Id Paiement</th>
                                            <th>Pizzas</th>
                                            <th>message</th>
                                        </tr>
                
                                </thead>
                                <tbody>
                                    
                                    
                                </tbody>
                            </table>
                            
                        </div>
               <!-- graph de ventes -->
               <div class="panel panel-default">
                        <div class="panel-heading">
                           Heures de retrait
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {{> ventes.graph this}}
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Géolocatisation des commandes
                        </div>
                        <div class="panel-body">
                            {{>geoloc this}}
                        </div>
                    </div>
                </div>
            </div>
<script src="/javascripts/socket.io.js"></script>
<script>  
$(document).ready(function() {
    ;
    //init la table
    var products = $('#products').DataTable({
        filter:false,
        "columns" : [
                    { "data": "date_cmd" },
                    { "data": "date_retrait" },
                    { "data": "client" },
                    { "data": "payement_id" },
                    { "data": "pizzas" },
                    { "data": "message" },
                ],
        columnDefs: [ 
            {
                targets: 0,
                render: function(from){
                    var d = new Date(from);
                    return d.toLocaleDateString();
                },
                bSortable: false
            },
            {
                targets: 1,
                render: function(from){
                    var dNow = new Date(from);
                    var min = dNow.getMinutes().toLocaleString(
                            'fr-FR', // use a string like 'en-US' to override browser locale
                            { minimumIntegerDigits: 2 }
                            );
                    var month = (dNow.getMonth()+1).toLocaleString(
                            'fr-FR', // use a string like 'en-US' to override browser locale
                            { minimumIntegerDigits: 2 }
                            );
                    return  dNow.getHours() + ':' + min+' '+dNow.getDate() + '/' +month + '/'+ dNow.getFullYear();
                },
                bSortable: false
            },
            {
                targets: 2,
                render: function(data, type, row, meta){
                    console.log(data);
                    return 'un client';
                    //return data.prenom+" "+data.nom;
                },
                 bSortable: false
            },
            {
                targets: 3,
                render: function(data, type, row, meta){
                    
                    ret=data;
                    
                    return ret;
                },
                bSortable: false
            },
            {
                targets: 4,
                render: function(data, type, row, meta){
                    var ret = "<ul>";
                    for (let p of data){
                        ret+="<li>"+p.qtte+" "+p.pizza+ (p.size? ' 33cm' : ' 24cm')+"</li>"
                    }
                    return ret;
                },
                bSortable: false
            },
            {
                targets:5,
                bSortable: false
            }
            
            
        ]
    });


    //connection au serveur socketIO
    var socket = io.connect('http://localhost:5000');
    socket.on('connect', function(data) {
        //socket.emit('join', 'Hello World from client');
    });
    socket.on('hello', function(datas){
        //initialisation
        //ajoute les données à la table
        console.log(datas);
        for(var i in datas.aaData){
            var dt = datas.aaData[i];            
            products.row.add(dt).draw();
        }

        
    })
    socket.on('new_commande', function(data) {
        //met a jour les données de la page
    });
    socket.on('error', function(datas){
        //une erreur qqpart, affiche qqchose....


    })

});





</script>
         