body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.addnew-btn{
      margin: 15px 0 15px 0;
}
.pizzas-infos-content{
  display: flex;
  flex-direction: row;
}

.pizzas-infos-content img {
  flex: 0 0 0;
  height: 82px;
  width: auto;
}
.pizzas-infos-content  .content{
  flex: 1 1 0;

  margin-left: 20px;
}
.pizzas-infos-content  .content  h3,h4{
  display: inline-block;

}
.pizzas-infos-content  .content  h4{
  margin-left: 5px;
}
.pizzas-infos{
 transition: background-color 0.2s ease;
  color: #3E3E3E;
  align-items: center;
}
.pizzas-infos:hover{
  background-color: #337ab7;
  text-decoration: none;
  color: white!important;
}
.custom-search-form{
  margin: 15px;
  padding-right: 30px!important;
}


.top{
  border-left: 5px solid red;
}
.inner-panel{
  margin: 10px;
  padding: 10px;
}

#marker > img {
  width: 48px;
  height: 48px;

    border: 1px solid black;
    border-radius: 50%;
}
.more{
  margin-left: 10px;

}
#legend {
        height: 50px;
        
    }
    #legend span {
        display: inline-block;
        padding: 15px 30px;
        position: relative;
    }
    
.podium{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.podium > div{
  max-width: 235px;
  height: 400px;
  margin: 20px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.podium div div{
  font-size: 3em;
    color: white;
    text-align: center;
}
.podium  .second{
  background-color: #fde795;
  width: 100%;
  height: 300px;
  align-self:flex-end;
}
.podium  .first{
  background-color: #aff3af;
  width: 100%;
  
  align-self:flex-end;
}
.podium  .third{
  background-color: #d7b1f9;
  width: 100%;
  height: 200px;
  align-self:flex-end;
}
.podium h3{
  font-size: 3.4em;
    color: #fffffe;
    text-align: center;
}

.morris-hover{
  position: absolute!important;
  background: white!important;
    /*display: block!important;*/
    /*left: 0!important;*/
    transform: translate(-60%, -20%);
    transition: transform 0.2s ease;
}
.morris-hover.morris-default-style .morris-hover-row-label{
  font-weight: bold;
    font-size: 1em;
    margin: 0.25em 0;
}
.morris-hover.morris-default-style .morris-hover-point{
  font-size: 1.2em;
  font-weight: bold;
}


.user-label{
  text-align: right;
}

.panel .panel-body .well .logo{
  font-size: 10em;
    color: white;
    display: inline-block;
    text-shadow: 1px 1px 1px rgb(51,51,51);
}
.panel .panel-body .well .content{
  display: inline-block;
  width: 80%;
  margin: 0 20px;
  padding: 5px;
}






/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}



.prete{
  background-color: #b3b3ff!important;
}
.prete:hover{
  background-color: #8f8fd0!important;
}
.livree{
  background-color: #98ff98!important;
}
.livree:hover{
  background-color: #75d075!important;
}
