body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.addnew-btn{
      margin: 15px 0 15px 0;
}
.pizzas-infos-content{
  display: flex;
  flex-direction: row;
}

.pizzas-infos-content img {
  flex: 0 0 0;
  height: 82px;
  width: auto;
}
.pizzas-infos-content  .content{
  flex: 1 1 0;

  margin-left: 20px;
}
.pizzas-infos-content  .content  h3,h4{
  display: inline-block;

}
.pizzas-infos-content  .content  h4{
  margin-left: 5px;
}
.pizzas-infos{
 transition: background-color 0.2s ease;
  color: #3E3E3E;
  align-items: center;
}
.pizzas-infos:hover{
  background-color: #337ab7;
  text-decoration: none;
  color: white!important;
}
.custom-search-form{
  margin: 15px;
  padding-right: 30px!important;
}


.top{
  border-left: 5px solid red;
}
.inner-panel{
  margin: 10px;
  padding: 10px;
}

#marker > img {
  width: 48px;
  height: 48px;

    border: 1px solid black;
    border-radius: 50%;
}
.more{
  margin-left: 10px;

}
#legend {
        height: 50px;
        
    }
    #legend span {
        display: inline-block;
        padding: 15px 30px;
        position: relative;
    }
    
.podium{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.podium > div{
  max-width: 235px;
  height: 400px;
  margin: 20px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.podium div div{
  font-size: 3em;
    color: white;
    text-align: center;
}
.podium  .second{
  background-color: #fde795;
  width: 100%;
  height: 300px;
  align-self:flex-end;
}
.podium  .first{
  background-color: #aff3af;
  width: 100%;
  
  align-self:flex-end;
}
.podium  .third{
  background-color: #d7b1f9;
  width: 100%;
  height: 200px;
  align-self:flex-end;
}
.podium h3{
  font-size: 3.4em;
    color: #fffffe;
    text-align: center;
}

.morris-hover{
  position: absolute!important;
  background: white!important;
    /*display: block!important;*/
    /*left: 0!important;*/
    transform: translate(-60%, -20%);
    transition: transform 0.2s ease;
}
.morris-hover.morris-default-style .morris-hover-row-label{
  font-weight: bold;
    font-size: 1em;
    margin: 0.25em 0;
}
.morris-hover.morris-default-style .morris-hover-point{
  font-size: 1.2em;
  font-weight: bold;
}
