.shrink {
  margin-left: 30;
  margin-right: 30;
  
  
}

 TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
  
}
button {
  background-color: #65d269;
  color: white;
  margin-top: 20;
  font-size: 20px;
}
button:active{
    background-color: #377539;
}

label{
  text-align: center;

}
.title{
  font-size: 30px;
        line-height: 1.8em;
        font-weight: 100;
      margin-top: 100px;
}
.slogan{
  font-size: 20px;
  margin-top:60px;
  margin-bottom: 60px;
}
.line{
  width: 200px;
  height: 1px;
  background-color: #65d269;
  margin-bottom: 60px;
}